numpy==1.25.0
pandas==2.2.3
scipy==1.14.1
opencv-python==4.10.0.84
scikit-image==0.25.0
skan==0.12.2
scikit-spatial==8.1.0
scikit-learn==1.6.0
Shapely==2.0.6
Pillow==11.0.0
openpyxl==3.1.5
matplotlib==3.10.0
torch==2.0.1
